/cmake-build-release/
/cmake-build-debug/
/vcpkg_installed/
/.idea
/.vscode/
/Testing/
/CMakePresets.json
/out/
/build/
.env
tournament_services/configuration.json
tournament_consumer/configuration.json
POSTMAN_DEMO_GUIDE.txt